docutils==0.14
fixtures==3.0.0
funcsigs==1.0.2
mypolr
nose==1.3.7
pytest==3.3.2
responses
requests~=2.0
setuptools==65.5.1
six==1.11.0
Sphinx==1.6.5
sphinx-argparse
sphinx_rtd_theme==0.2.4
tox
unittest2==1.1.0
urllib3>=1.23
virtualenv==15.1.0
wheel==0.30.0
