urllib3==1.22
wheel==0.30.0
requests==2.18.4
funcsigs==1.0.2
mypolr
Sphinx==1.6.5
pytest==3.3.1
responses
six==1.11.0
sphinx_rtd_theme==0.2.4
sphinx-argparse
setuptools==38.2.4
virtualenv==15.1.0
docutils==0.14
fixtures==3.0.0
nose==1.3.7
testrepository==0.0.20
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
unittest2==1.1.0
